.container{position: relative; max-width:100vw !important; padding:14.65vw 1.17vw 4.88vw; margin: 0 auto;}
.np_tab > .card {border: none;}
.blue{color: #1c7eff;}
.gray{color: #7a7a7a;}


.notice{padding-top: 8.98vw;}
.notice>.container{display: flex;}
.notice .notice_box{width: 100%; padding: 2.85vw; background-color: #fff; box-shadow: 0 0 20px 0 rgba(0,0,0,.16); border-radius: 1vw;}

.notice .notice_box .title{margin-bottom: 59px;}
.notice .notice_box .title h1{font-size: 2.34vw; font-weight: bold; margin-bottom: 0.98vw; margin-right: 2.83vw;}
.notice .notice_box .title h2{font-size: 1.76vw; font-weight: bold; margin-bottom: 0.98vw; margin-right: 2.83vw;}



/* /middle/ */
.notice-middle {display: flex; margin-bottom: 3.03vw;}
.middle-search {position: relative;}
.middle-search input{width: 18.46vw; height: 4.69vw; padding-left: 3.22vw;}
.middle-search img {position: absolute; left: 1.17vw; top: 1.37vw;}

.notice-middle-drop {width: 11.04vw;}
.notice-middle-drop button{width: 80%; padding-left: 0;}
.notice-middle-drop span{color: #222;}
.dropdown-toggle::after {color: #222;}

/* /FAQ/ */
.faq-empty-box {margin-right: 515px;}
.support-category {margin-bottom: 4.49vw; display: flex;background-color: #f6f6f6; border-radius: 3.71vw; width: 100%;padding: 0; max-width: 93.26vw;}
.support-category li{max-width: 10.45vw; width: 100%; border-radius: 2.6389vw; text-align: center;padding: 1.2500vw 0; margin-right: 3.5vw;}
.support-category li:last-child {margin-right: 0vw;}
.support-category li a {font-size: 1.76vw;font-weight: bold;}
.support-category li.on{background-color: #222;}
.support-category li.on a{color: #fff;}
#accordionExample > .accodion-item-border{ border: 1px solid #d9d9d9;margin-bottom: 1.95vw; border-radius: 0.78vw;}
.faq-list strong {width: 9.6vw; color: #727272; font-size: 1.37vw;}
.faq-list h3 {margin-bottom: 0; font-weight: bold;}
.accordion-button:not(.collapsed) {box-shadow: none !important;}
.accordion-button {background-color: none;}
[type=button]:not(:disabled){background-color: inherit;}
.faq-accordion-body {padding-left: 11.5vw !important;}
.faq-list h3 {font-size: 1.56vw;}

/* /icon/ */
.icon{display: inline-block; width:1.76vw; height:1.76vw; margin-right: 0.29vw; vertical-align: text-bottom; }

/* /accordian color/ */
.accordion-button:not(.collapsed) {background-color: transparent !important; color: #000 !important;}
.accordion-button:focus {box-shadow: none !important; background-color: transparent !important; border-color: none !important;}

