/* 공통 */
#main {
  padding: 120px 0 0;
  max-width: 1280px;
  margin: 0 auto;
}
#sub {
  padding: 120px 0 0;
}

.wrap {
  padding: 0;
}

@media screen and (max-width: 1440px) {
  #main {
    padding: 115px 0 0;
  }
  #sub {
    padding: 115px 0 0;
  }

  .wrap {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1280px) {
  #main {
    padding: 105px 0 0;
  }
  #sub {
    padding: 105px 0 0;
  }

  .wrap {
    padding: 0 80px;
  }
}

@media screen and (max-width: 1024px) {
  #main {
    padding: 95px 0 0;
  }
  #sub {
    padding: 95px 0 0;
  }

  .wrap {
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  #main {
    padding: 85px 0 0;
  }
  #sub {
    padding: 85px 0 0;
  }

  .wrap {
    padding: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  #main {
    padding: 75px 0 0;
  }
  #sub {
    padding: 75px 0 0;
  }

  .wrap {
    padding: 0 20px;
  }
}

/* 메인 */
#main .t {
  font-weight: 700;
  color: #000;
  font-size: 22px;
  font-family: "Poppins";
  margin: 0 0 30px;
}
#main article {
}
@media screen and (max-width: 1440px) {
  #main .t {
    font-size: 28px;
    margin: 0 0 38px;
  }
}

@media screen and (max-width: 1280px) {
  #main .t {
    font-size: 26px;
    margin: 0 0 36px;
  }
}

@media screen and (max-width: 1024px) {
  #main .t {
    font-size: 24px;
    margin: 0 0 34px;
  }
}

@media screen and (max-width: 768px) {
  #main .t {
    font-size: 21px;
    margin: 0 0 32px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  #main .t {
    font-size: 18px;
    margin: 0 0 30px;
  }
}

#main article.visual {
  padding: 40px 0 90px;
  overflow: visible;
  display: flex;
}
#main article.visual > div {
  width: 50%;
  box-sizing: border-box;
  float: left;
  flex-shrink: 0;
}
#main article.visual .title {
  width: 485px;
  margin-right: 118px;
}
#main article.visual .title h2 {
  padding: 58px 0 38px;
}
#main article.visual .title h2 img {
  width: 100%;
}
#main article.visual .title p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
#main article.visual .title div {
  overflow: hidden;
  margin: 73px 0 0;
}
#main article.visual .title div a {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 47%;
  max-width: 320px;
  box-sizing: border-box;
  text-align: center;
  font-size: 22px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  line-height: 89px;
  height: 65px;
  border-radius: 45px;
  font-weight: 700;
}
#main article.visual .title div a:first-child {
  margin: 0 28px 0 0;
  background-color: #fff;
  color: #000;
}

#main article.visual .swiper {
}
#main article.visual .swiper-container-visual {
  width: 100%;
}
#main article.visual .swiper-container-visual .swiper-wrapper {
  margin-left: 0;
}
#main article.visual .swiper .swiper-button-visual-prev {
  display: none;
}
#main article.visual .swiper .swiper-button-visual-next {
  width: 48px;
  height: 48px;
  left: -6px;
  background-image: url("../img/main/arrow_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.visual .swiper .swiper-button-visual-prev:after,
#main article.visual .swiper .swiper-button-visual-next:after {
  display: none;
}
#main article.visual .swiper {
  position: relative;
}
#main article.visual .swiper ol {
}
#main article.visual .swiper ol span > li {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  float: left;
  max-width: 630px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
  box-sizing: border-box;
}
#main article.visual .swiper ol span > li > div {
  box-sizing: border-box;
  width: 267px;
  padding: 27px 20px 20px;
}
#main article.visual .swiper ol span > li > div:first-child {
  flex-shrink: 0;
  margin: 0;
  width: 363px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.visual .swiper ol span > li > div h3 {
  font-size: 28px;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.25;
}
#main article.visual .swiper ol span > li > div p {
  font-size: 16px;
  font-weight: 700;
  margin: 12px 0 99px;
  line-height: 1.25;
}
#main article.visual .swiper ol span > li > div .info {
  overflow: hidden;
}
#main article.visual .swiper ol span > li > div .info dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 0 11px;
  line-height: 21px;
}
#main article.visual .swiper ol span > li > div .info dl dt {
  float: left;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
#main article.visual .swiper ol span > li > div .info dl dd {
  float: right;
  font-size: 22px;
  font-weight: 900;
}
#main article.visual .swiper ol span > li > div .info dl dd span {
  font-size: 14px;
}
#main article.visual .swiper ol span > li > div .history {
  padding-top: 15px;
}
#main article.visual .swiper ol span > li > div .history > span {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
#main article.visual .swiper ol span > li > div .history ul {
  margin: 9px 0 0;
  background-color: #f8f8f8;
  overflow-y: scroll;
  padding: 11px 9px;
  box-sizing: border-box;
  border-radius: 8px;
  height: 168px;
}
#main article.visual .swiper ol span > li > div .history ul::-webkit-scrollbar {
  width: 12px;
  background-color: #f8f8f8;
}
#main
  article.visual
  .swiper
  ol
  span
  > li
  > div
  .history
  ul::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #b7b7b7;
  background-clip: padding-box;
  border: 4px solid transparent;
}
#main article.visual .swiper ol span > li > div .history ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
}
#main article.visual .swiper ol span > li > div .history ul li img {
  width: 28px;
  height: 28px;
  border-radius: 14px;
}
#main article.visual .swiper ol span > li > div .history ul li strong {
  font-weight: 900;
  font-size: 16px;
  color: #000;
  padding: 0 0 0 6px;
}
#main article.visual .swiper ol span > li > div .history ul li span {
  font-size: 12px;
  color: #000;
  margin-left: auto;
  letter-spacing: -0.14px;
}
#main article.visual .swiper ol span > li > div .button {
  overflow: hidden;
  margin: 17px 0 0;
}
#main article.visual .swiper ol span > li > div .button a {
  display: block;
  float: left;
  width: 49%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  line-height: 42px;
  height: 42px;
  border-radius: 8px;
  font-weight: bold;
}
#main article.visual .swiper ol span > li > div .button a:first-child {
  margin: 0 2% 0 0;
  background-color: #fff;
  color: #000;
}

#sub .item {
  overflow: visible;
  margin: 0;
}
.item .swiper {
  position: relative;
}
#sub .item .swiper-container-trendingitem {
  margin: -0.5%;
}
#sub .item .swiper .swiper-button-trendingitem-prev {
  width: 56px;
  height: 56px;
  left: -28px;
  background-image: url("../img/main/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sub .item .swiper .swiper-button-trendingitem-next {
  width: 56px;
  height: 56px;
  right: -28px;
  background-image: url("../img/main/arrow_next.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sub .item .swiper .swiper-button-trendingitem-prev:after,
#sub .item .swiper .swiper-button-trendingitem-next:after {
  display: none;
}
#sub .item .swiper-container-newitem {
  margin: -1%;
}
#sub .item .swiper .swiper-button-newitem-prev {
  width: 56px;
  height: 56px;
  left: -28px;
  background-image: url("../img/main/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sub .item .swiper .swiper-button-newitem-next {
  width: 56px;
  height: 56px;
  right: -28px;
  background-image: url("../img/main/arrow_next.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sub .item .swiper .swiper-button-newitem-prev:after,
#sub .item .swiper .swiper-button-newitem-next:after {
  display: none;
}

@media screen and (max-width: 1800px) {
  #main article.visual .title h2 img {
    max-width: 100%;
  }

  #main article.visual .swiper ol span > li > div .info dl dt {
    float: none;
  }
  #main article.visual .swiper ol span > li > div .info dl dd {
    float: none;
    margin: 5px 0 0;
  }
  #main article.visual .swiper ol span > li > div .history ul {
    height: 142px;
  }
}

@media screen and (max-width: 1440px) {
  #main article.visual {
    padding: 90px 0 110px;
  }
  #main article.visual .title {
    padding: 0 2% 0 100px;
  }

  #main article.visual .title p {
    font-size: 22px;
    margin: 40px 0 0;
  }
  #main article.visual .title div a {
    width: 48%;
    max-width: none;
  }
  #main article.visual .title div a:first-child {
    margin: 0 3% 0 0;
    background-color: #fff;
    color: #000;
  }

  #main article.visual .swiper .swiper-button-visual-next {
    width: 59px;
    height: 59px;
    left: -29.5px;
  }
  #main article.visual .swiper ol span > li {
  }
  #main article.visual .swiper ol span > li > div {
  }
  #main article.visual .swiper ol span > li > div:first-child {
  }
  #main article.visual .swiper ol span > li > div h3 {
  }
  #main article.visual .swiper ol span > li > div p {
    font-size: 21px;
    margin: 15px 0 76px;
  }
  #main article.visual .swiper ol span > li > div .info dl {
    margin: 32px 0;
    line-height: 29px;
  }
  #main article.visual .swiper ol span > li > div .info dl dd {
    font-size: 29px;
  }
  #main article.visual .swiper-container-visual .swiper-wrapper {
    margin-left: 0;
  }
}

@media screen and (max-width: 1280px) {
  #main article.visual {
    padding: 70px 80px 100px;
    flex-wrap: wrap;
  }
  #main article.visual > div {
    width: auto;
    float: none;
  }
  #main article.visual .title {
    width: 100%;
  }
  #main article.visual .title,
  #main article.visual .swiper {
    padding: 0;
  }
  #main article.visual .swiper {
    width: 100%;
  }
  #main article.visual .swiper-container {
    overflow: visible;
  }
  #main article.visual .swiper-container-visual .swiper-wrapper {
    overflow: visible;
    margin-left: 0;
  }

  #main article.visual .title h2 {
    text-align: center;
    max-width: 72.77%;
    margin: 0 auto;
  }
  #main article.visual .title p {
    font-size: 19px;
    text-align: center;
    max-width: 72.77%;
    margin: 35px auto 0;
  }
  #main article.visual .title div {
    max-width: 72.77%;
    margin: 56px auto;
  }
  #main article.visual .title div a {
    font-size: 26px;
    border: 1px solid #000;
    line-height: 71px;
    height: 71px;
    border-radius: 35.5px;
  }

  #main article.visual .swiper .swiper-button-visual-next {
    width: 53px;
    height: 53px;
    left: -26.5px;
  }
  #main article.visual .swiper-container-visual {
    margin: -3%;
  }
  #main article.visual .swiper {
    max-width: 100%;
  }
  #main article.visual .swiper ol > span {
    min-width: 94%;
    width: 94%;
  }
  #main article.visual .swiper ol > span > li {
    max-width: unset;
    margin: 3%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }
  #main article.visual .swiper ol > span > li > div {
    padding: 36px 21px 21px;
    width: 100%;
  }
  #main article.visual .swiper ol > span > li > div:first-child {
    width: 100%;
    padding-top: 100%;
    padding-bottom: 0;
  }

  #main article.visual .swiper ol > span > li > div h3 {
    font-size: 34px;
  }
  #main article.visual .swiper ol > span > li > div p {
    font-size: 19px;
    margin: 13px 0 62px;
  }
  #main article.visual .swiper ol > span > li > div .info dl {
    margin: 31px 0;
    line-height: 28px;
  }
  #main article.visual .swiper ol > span > li > div .info dl dt {
    font-size: 13px;
    float: left;
  }
  #main article.visual .swiper ol > span > li > div .info dl dd {
    font-size: 28px;
    float: right;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  #main article.visual {
    padding: 60px 60px 90px;
  }

  #main article.visual .title p {
    font-size: 17px;
    margin: 30px auto 0;
  }
  #main article.visual .title div {
    margin: 46px auto;
  }
  #main article.visual .title div a {
    font-size: 23px;
    line-height: 62px;
    height: 62px;
    border-radius: 31px;
  }

  #main article.visual .swiper .swiper-button-visual-next {
    width: 48px;
    height: 48px;
    left: -24px;
  }
  #main article.visual .swiper ol span > li > div {
    padding: 29px 19px 19px;
  }
  #main article.visual .swiper ol span > li > div h3 {
    font-size: 31px;
  }
  #main article.visual .swiper ol span > li > div p {
    font-size: 18px;
    margin: 11px 0 47px;
  }
  #main article.visual .swiper ol span > li > div .info dl {
    margin: 30px 0;
    line-height: 27px;
  }
  #main article.visual .swiper ol span > li > div .info dl dt {
    font-weight: 700;
  }
  #main article.visual .swiper ol span > li > div .info dl dd {
    font-size: 27px;
  }
}

@media screen and (max-width: 768px) {
  #main article.visual {
    padding: 40px 40px 80px;
  }

  #main article.visual .title p {
    font-size: 14px;
    margin: 20px auto 0;
  }
  #main article.visual .title div {
    max-width: none;
    margin: 36px 0;
  }
  #main article.visual .title div a {
    font-size: 19px;
    line-height: 52px;
    height: 52px;
    border-radius: 26px;
  }

  #main article.visual .swiper .swiper-button-visual-next {
    width: 42px;
    height: 42px;
    left: -21px;
  }
  #main article.visual .swiper ol span > li > div {
    padding: 22px 17px 17px;
  }
  #main article.visual .swiper ol span > li > div h3 {
    font-size: 27px;
    line-height: 1.25;
  }
  #main article.visual .swiper ol span > li > div p {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 23px;
  }
  #main article.visual .swiper ol span > li > div .info dl {
    margin: 28px 0;
    line-height: 26px;
  }
  #main article.visual .swiper ol span > li > div .info dl dt {
    font-size: 12px;
    font-weight: 700;
    float: none;
  }
  #main article.visual .swiper ol span > li > div .info dl dd {
    font-size: 26px;
    float: none;
    margin: 5px 0 0;
  }
}

@media screen and (max-width: 640px) {
  #main article.visual {
    padding: 27px 20px 70px;
  }

  #main article.visual .title p {
    font-size: 12px;
    margin: 15px auto 0;
  }
  #main article.visual .title div {
    margin: 26px 0;
  }
  #main article.visual .title div a {
    font-size: 16px;
    line-height: 42px;
    height: 42px;
    border-radius: 21px;
  }

  #main article.visual .swiper .swiper-button-visual-next {
    width: 36px;
    height: 36px;
    left: auto;
    right: -18px;
  }
  #main article.visual .swiper ol span > li > div {
    padding: 15px;
    margin: 0;
  }
  #main article.visual .swiper ol span > li > div:first-child {
    width: auto;
    position: static;
    top: auto;
    left: auto;
    height: 319px;
  }
  #main article.visual .swiper ol span > li > div h3 {
    font-size: 24px;
  }
  #main article.visual .swiper ol span > li > div p {
    font-size: 14px;
    margin: 6px 0 10px;
  }
  #main article.visual .swiper ol span > li > div .info dl {
    margin: 26px 0;
    line-height: 25px;
    float: left;
    width: 49%;
  }
  #main article.visual .swiper ol span > li > div .info dl:first-child {
    margin: 26px 2% 26px 0;
  }
  #main article.visual .swiper ol span > li > div .info dl dt {
    font-weight: 700;
  }
  #main article.visual .swiper ol span > li > div .info dl dd {
    font-size: 24px;
  }
  #main article.visual .swiper ol span > li > div .info dl dd span {
    font-size: 24px;
  }
  #main article.visual .swiper ol span > li > div .history {
    display: none;
  }
  #main article.visual .swiper ol span > li > div .button {
    margin: 0;
  }
  #main article.visual .swiper ol span > li > div .button a {
    width: 49%;
    font-size: 14px;
    border: 2px solid #000;
    line-height: 40px;
    border-radius: 21px;
  }
}

#main article.collection {
  margin: 0 0 90px;
}

@media screen and (max-width: 1440px) {
  #main article.collection .wrap .t {
    margin: 0 0 19px;
  }
}

@media screen and (max-width: 1280px) {
  #main article.collection .wrap .t {
    margin: 0 0 17px;
  }
}

#main article.collection .swiper {
  position: relative;
}
#main article.collection .swiper-container-collection {
  margin: -1%;
}
#main article.collection .swiper .swiper-button-collection-prev {
  width: 48px;
  height: 48px;
  left: -28px;
  background-image: url("../img/main/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.collection .swiper .swiper-button-collection-next {
  width: 48px;
  height: 48px;
  right: -28px;
  background-image: url("../img/main/arrow_next.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.collection .swiper .swiper-button-collection-prev:after,
#main article.collection .swiper .swiper-button-collection-next:after {
  display: none;
}
#main article.collection .list {
  display: flex;
  align-items: stretch;
}
#main article.collection .list > span {
  width: 25%;
  min-width: 25%;
  padding: 19px 8px;
  box-sizing: border-box;
}
#main article.collection .list li {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  height: 100%;
}
#main article.collection .list li a {
  display: block;
}
#main article.collection .list li a div {
  position: relative;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}
#main article.collection .list li a div:first-child {
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.collection .list li a div span {
  border-radius: 50%;
  width: 67px;
  height: 67px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  position: absolute;
  top: -33.5px;
  left: 50%;
  transform: translate(-50%, 0);
}
#main article.collection .list li a div dl {
  box-sizing: border-box;
}
#main article.collection .list li a div dl dt {
  width: 100%;
  margin: 30px 0 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 31px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main article.collection .list li a div dl dd {
  color: #000;
}
#main article.collection .list li a div dl dd strong {
  display: block;
  margin: 3px 0 0;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main article.collection .list li a div dl dd p {
  font-size: 14px;
  line-height: 18px;
  margin: 15px auto 0;
  width: 100%;
  opacity: 0.8;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

@media screen and (max-width: 1440px) {
  #main article.collection {
    margin: 0 0 90px;
  }
  #main article.collection .swiper .swiper-button-collection-prev {
    width: 48px;
    height: 48px;
    left: -26px;
    display: block;
  }
  #main article.collection .swiper .swiper-button-collection-next {
    width: 48px;
    height: 48px;
    right: -26px;
    display: block;
  }

  #main article.collection .list > span {
    min-width: 31.33%;
    width: 31.33%;
  }
  #main article.collection .list li a div:first-child {
    height: 370px;
  }
  #main article.collection .list li a div span {
    width: 78px;
    height: 78px;
    top: -39px;
  }
  #main article.collection .list li a div dl dt {
    font-size: 23px;
    margin: 41px 0 0;
  }
  #main article.collection .list li a div dl dd strong {
    font-size: 17px;
    margin: 12px 0 0;
  }
  #main article.collection .list li a div dl dd p {
    width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  #main article.collection {
    margin: 0 0 80px;
  }
  #main article.collection .swiper .swiper-button-collection-prev {
    width: 48px;
    height: 48px;
    left: -24px;
  }
  #main article.collection .swiper .swiper-button-collection-next {
    width: 48px;
    height: 48px;
    right: -24px;
  }

  #main article.collection .list li a div:first-child {
    height: 355px;
  }
  #main article.collection .list li a div span {
    width: 70px;
    height: 70px;
    top: -35px;
  }
  #main article.collection .list li a div dl dt {
    font-size: 21px;
    margin: 40px 0 0;
  }
  #main article.collection .list li a div dl dd strong {
    font-size: 16px;
    margin: 11px 0 0;
  }
  #main article.collection .list li a div dl dd p {
    font-size: 13px;
    line-height: 1.85;
    height: 75px;
  }
}

@media screen and (max-width: 1024px) {
  #main article.collection {
    margin: 0 0 70px;
  }
  #main article.collection .swiper .swiper-button-collection-prev {
    width: 44px;
    height: 44px;
    left: -22px;
  }
  #main article.collection .swiper .swiper-button-collection-next {
    width: 44px;
    height: 44px;
    right: -22px;
  }

  #main article.collection .swiper-container-collection {
    margin: -20px -2%;
  }
  #main article.collection .list > span {
    min-width: 48%;
    width: 48%;
    padding: 20px 2%;
  }
  #main article.collection .list > span li a div:first-child {
    height: 345px;
  }
  #main article.collection .list > span li a div span {
    width: 62px;
    height: 62px;
    top: -31px;
  }
  #main article.collection .list > span li a div dl dt {
    font-size: 20px;
    margin: 39px 0 0;
  }
  #main article.collection .list > span li a div dl dd strong {
    font-size: 15px;
    margin: 10px 0 0;
  }
}

@media screen and (max-width: 768px) {
  #main article.collection {
    margin: 0 0 60px;
  }
  #main article.collection .swiper .swiper-button-collection-prev {
    width: 40px;
    height: 40px;
    left: -20px;
  }
  #main article.collection .swiper .swiper-button-collection-next {
    width: 40px;
    height: 40px;
    right: -20px;
  }

  #main article.collection .list > span li a div:first-child {
    height: 330px;
  }
  #main article.collection .list > span li a div span {
    width: 52px;
    height: 52px;
    top: -27px;
  }
  #main article.collection .list > span li a div dl dt {
    font-size: 18px;
    margin: 38px 0 0;
  }
  #main article.collection .list > span li a div dl dd strong {
    font-size: 13px;
    margin: 9px 0 0;
  }
  #main article.collection .list > span li a div dl dd p {
    font-size: 12px;
    line-height: 1.67;
    height: 65px;
    margin: 22px auto 0;
  }
}

@media screen and (max-width: 640px) {
  #main article.collection {
    margin: 0 0 50px;
  }
  #main article.collection .swiper .swiper-button-collection-prev {
    width: 36px;
    height: 36px;
    left: -18px;
  }
  #main article.collection .swiper .swiper-button-collection-next {
    width: 36px;
    height: 36px;
    right: -18px;
  }

  #main article.collection .swiper-container-collection {
    margin: -20px -4%;
  }
  #main article.collection .list span {
    min-width: 100%;
    width: 100%;
    padding: 20px 4%;
  }
  #main article.collection .list li a div:first-child {
    height: 310px;
  }
  #main article.collection .list li a div span {
    width: 44px;
    height: 44px;
    top: -22px;
  }
  #main article.collection .list li a div dl dt {
    font-size: 16px;
  }
  #main article.collection .list li a div dl dd strong {
    font-size: 12px;
    margin: 8px 0 0;
  }
}

#main article.category {
  margin: 0 0 90px;
}
#main article.category .list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#main article.category .list li {
  width: 137px;
  height: 48px;
  margin: 4px 8px;
  border-radius: 32px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#main article.category .list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  letter-spacing: -0.14px;
}
#main article.category .list li a img {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translate(0, -50%);
  max-width: 21px;
}

@media screen and (max-width: 1440px) {
  #main article.category {
    margin: 0 0 95px;
  }
  #main article.category .list {
    gap: 0;
  }
  #main article.category .list li {
    width: 24%;
    border-radius: 30px;
    margin: 1% 0.5%;
  }
  #main article.category .list li a {
    height: 60px;
    line-height: 60px;
    font-size: 19px;
  }
}

@media screen and (max-width: 1280px) {
  #main article.category {
    margin: 0 0 85px;
  }
  #main article.category .list {
    margin: -1%;
  }
  #main article.category .list li {
    width: 23%;
    margin: 1%;
    border-radius: 28px;
  }
  #main article.category .list li a {
    height: 56px;
    line-height: 56px;
  }
}

@media screen and (max-width: 1024px) {
  #main article.category {
    margin: 0 0 80px;
  }
  #main article.category .list li {
    border-radius: 26px;
  }
  #main article.category .list li a {
    height: 52px;
    line-height: 52px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #main article.category {
    margin: 0 0 75px;
  }
  #main article.category .list li {
    width: 48%;
    margin: 1%;
    border-radius: 23px;
    border: solid 2px #ebebeb;
    box-shadow: 0 3px 5px 0 rgba(21, 85, 96, 0.1);
  }
  #main article.category .list li a {
    height: 46px;
    line-height: 46px;
    font-size: 17px;
  }
}

@media screen and (max-width: 640px) {
  #main article.category {
    margin: 0 0 70px;
  }

  #main article.category .list {
    margin: -2% -1.5%;
  }
  #main article.category .list li {
    width: 47%;
    margin: 2% 1.5%;
    border-radius: 21px;
  }
  #main article.category .list li a {
    height: 42px;
    line-height: 42px;
    padding: 0;
    font-size: 16px;
  }
  #main article.category .list li a img {
    display: none;
  }
}

#main .item {
  overflow: visible;
  margin: 0;
}
#main article.item {
  margin: 0 0 90px;
}
#main article.item .swiper {
  position: relative;
}

#main article.item .swiper-container-trendingitem {
  margin: -1%;
}
#main article.item .swiper .swiper-button-trendingitem-prev {
  width: 48px;
  height: 48px;
  left: -28px;
  background-image: url("../img/main/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.item .swiper .swiper-button-trendingitem-next {
  width: 48px;
  height: 48px;
  right: -28px;
  background-image: url("../img/main/arrow_next.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.item .swiper .swiper-button-trendingitem-prev:after,
#main article.item .swiper .swiper-button-trendingitem-next:after {
  display: none;
}

#main article.item .swiper-container-newitem {
  margin: -1%;
}
#main article.item .swiper .swiper-button-newitem-prev {
  width: 48px;
  height: 48px;
  left: -28px;
  background-image: url("../img/main/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.item .swiper .swiper-button-newitem-next {
  width: 48px;
  height: 48px;
  right: -28px;
  background-image: url("../img/main/arrow_next.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.item .swiper .swiper-button-newitem-prev:after,
#main article.item .swiper .swiper-button-newitem-next:after {
  display: none;
}

@media screen and (max-width: 1440px) {
  #main article.item {
    margin: 0 0 110px;
  }
  #main article.item .swiper .swiper-button-trendingitem-prev {
    width: 52px;
    height: 52px;
    left: -26px;
    display: block;
  }
  #main article.item .swiper .swiper-button-trendingitem-next {
    width: 52px;
    height: 52px;
    right: -26px;
    display: block;
  }

  #main article.item .swiper .swiper-button-newitem-prev {
    width: 52px;
    height: 52px;
    left: -26px;
    display: block;
  }
  #main article.item .swiper .swiper-button-newitem-next {
    width: 52px;
    height: 52px;
    right: -26px;
    display: block;
  }
}

@media screen and (max-width: 1280px) {
  #main article.item {
    margin: 0 0 100px;
  }
  #main article.item .swiper .swiper-button-trendingitem-prev {
    width: 48px;
    height: 48px;
    left: -24px;
  }
  #main article.item .swiper .swiper-button-trendingitem-next {
    width: 48px;
    height: 48px;
    right: -24px;
  }

  #main article.item .swiper .swiper-button-newitem-prev {
    width: 48px;
    height: 48px;
    left: -24px;
  }
  #main article.item .swiper .swiper-button-newitem-next {
    width: 48px;
    height: 48px;
    right: -24px;
  }
}

@media screen and (max-width: 1024px) {
  #main article.item {
    margin: 0 0 90px;
  }
  #main article.item .swiper .swiper-button-trendingitem-prev {
    width: 44px;
    height: 44px;
    left: -22px;
  }
  #main article.item .swiper .swiper-button-trendingitem-next {
    width: 44px;
    height: 44px;
    right: -22px;
  }

  #main article.item .swiper .swiper-button-newitem-prev {
    width: 44px;
    height: 44px;
    left: -22px;
  }
  #main article.item .swiper .swiper-button-newitem-next {
    width: 44px;
    height: 44px;
    right: -22px;
  }
}

@media screen and (max-width: 768px) {
  #main article.item {
    margin: 0 0 80px;
  }
  #main article.item .swiper .swiper-button-trendingitem-prev {
    width: 40px;
    height: 40px;
    left: -20px;
  }
  #main article.item .swiper .swiper-button-trendingitem-next {
    width: 40px;
    height: 40px;
    right: -20px;
  }

  #main article.item .swiper .swiper-button-newitem-prev {
    width: 40px;
    height: 40px;
    left: -20px;
  }
  #main article.item .swiper .swiper-button-newitem-next {
    width: 40px;
    height: 40px;
    right: -20px;
  }
}

@media screen and (max-width: 640px) {
  #main article.item {
    margin: 0 0 70px;
  }
  #main article.item .swiper .swiper-button-trendingitem-prev {
    width: 36px;
    height: 36px;
    left: -18px;
  }
  #main article.item .swiper .swiper-button-trendingitem-next {
    width: 36px;
    height: 36px;
    right: -18px;
  }

  #main article.item .swiper .swiper-button-newitem-prev {
    width: 36px;
    height: 36px;
    left: -18px;
  }
  #main article.item .swiper .swiper-button-newitem-next {
    width: 36px;
    height: 36px;
    right: -18px;
  }
}

#main article.users .swiper {
  position: relative;
}
#main article.users .swiper-container-users {
  margin: -20px -1%;
}
#main article.users .swiper .swiper-button-users-prev {
  width: 48px;
  height: 48px;
  left: -28px;
  background-image: url("../img/main/arrow_prev.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
}
#main article.users .swiper .swiper-button-users-next {
  width: 48px;
  height: 48px;
  right: -28px;
  background-image: url("../img/main/arrow_next.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
}
#main article.users .swiper .swiper-button-users-prev:after,
#main article.users .swiper .swiper-button-users-next:after {
  display: none;
}
#main article.users {
  margin: 0 0 180px;
}
#main article.users .list {
  display: flex;
  align-items: stretch;
}
#main article.users .list span {
  min-width: 23%;
  width: 23%;
  padding: 20px 1%;
  height: auto;
}
#main article.users .list span li {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
  height: auto;
}
#main article.users .list span li a {
  display: block;
}
#main article.users .list span li a div {
  height: 237px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main article.users .list span li a dl {
  box-sizing: border-box;
  padding: 20px 16px 26px;
}
#main article.users .list span li a dl dt {
  color: #000;
  font-weight: 500;
  font-size: 20px;
}
#main article.users .list span li a dl dd {
  color: #555;
  font-size: 14px;
  margin: 6px 0 0;
}

@media screen and (max-width: 1440px) {
  #main article.users .swiper .swiper-button-users-prev {
    width: 52px;
    height: 52px;
    left: -26px;
    display: block;
  }
  #main article.users .swiper .swiper-button-users-next {
    width: 52px;
    height: 52px;
    right: -26px;
    display: block;
  }
  #main article.users {
    margin: 0 0 170px;
  }
  #main article.users .list span {
    min-width: 31.33%;
    width: 31.33%;
  }
  #main article.users .list li a div {
    height: 290px;
  }
  #main article.users .list li a dl dt {
    font-size: 25px;
  }
  #main article.users .list li a dl dd {
    font-size: 17px;
  }
}

@media screen and (max-width: 1280px) {
  #main article.users .swiper .swiper-button-users-prev {
    width: 48px;
    height: 48px;
    left: -24px;
  }
  #main article.users .swiper .swiper-button-users-next {
    width: 48px;
    height: 48px;
    right: -24px;
  }
  #main article.users {
    margin: 0 0 150px;
  }
  #main article.users .list li a div {
    height: 280px;
  }
  #main article.users .list li a dl dt {
    font-size: 24px;
  }
  #main article.users .list li a dl dd {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  #main article.users .swiper .swiper-button-users-prev {
    width: 44px;
    height: 44px;
    left: -22px;
  }
  #main article.users .swiper .swiper-button-users-next {
    width: 44px;
    height: 44px;
    right: -22px;
  }
  #main article.users {
    margin: 0 0 140px;
  }
  #main article.users .swiper-container-users {
    margin: -20px -2%;
  }
  #main article.users .list span {
    min-width: 46%;
    width: 46%;
    padding: 20px 2%;
  }
  #main article.users .list li a div {
    height: 270px;
  }
  #main article.users .list li a dl dt {
    font-size: 23px;
  }
  #main article.users .list li a dl dd {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  #main article.users .swiper .swiper-button-users-prev {
    width: 40px;
    height: 40px;
    left: -20px;
  }
  #main article.users .swiper .swiper-button-users-next {
    width: 40px;
    height: 40px;
    right: -20px;
  }
  #main article.users {
    margin: 0 0 120px;
  }
  #main article.users .list li a div {
    height: 256px;
  }
  #main article.users .list li a dl dt {
    font-size: 21px;
  }
  #main article.users .list li a dl dd {
    font-size: 15px;
    margin: 8px 0 0;
  }
}

@media screen and (max-width: 640px) {
  #main article.users .swiper .swiper-button-users-prev {
    width: 36px;
    height: 36px;
    left: -18px;
  }
  #main article.users .swiper .swiper-button-users-next {
    width: 36px;
    height: 36px;
    right: -18px;
  }
  #main article.users {
    margin: 0 0 99px;
  }
  #main article.users .swiper-container-users {
    margin: -20px -4%;
  }
  #main article.users .list span {
    min-width: 92%;
    width: 92%;
    margin: 20px 4%;
  }
  #main article.users .list li a div {
    height: 246px;
  }
  #main article.users .list li a dl dt {
    font-size: 20px;
  }
  #main article.users .list li a dl dd {
    font-size: 14px;
  }
}

/* 아이템 목록 (메인, 리스트, 상세) */
.item {
  overflow: hidden;
}
.item.item4 {
  margin: 0 -1%;
}
.item.item5 {
  margin: 0 -0.5%;
}
.item.item4 > div {
  display: flex;
  width: 100%;
}
.item.item4 > div > span {
  min-width: 24%;
  width: 24%;
  padding: 0 0.5% 20px;
}
.item.item5 > div > span {
  min-width: 19%;
  width: 19%;
  padding: 0 0.5% 20px;
}

.item > div > span > li {
  float: left;
}
.item > div > span > li.click {
  border-radius: 25px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
}
.item > div > span > li.click a {
  border: 6px solid #fcc921;
}
.item > div > span > li a {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 519px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.item > div > span > li a > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px 64px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.item > div > span > li a > div.top {
  padding: 12px 20px;
  top: 0;
  height: 45px !important;
}
.item > div > span > li a > div.blk {
  background-color: rgba(0, 0, 0, 0.2);
}
.item > div > span > li a > div ul {
  font-size: 0;
}
.item > div > span > li a > div ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
}

.item > div > span > li a > div ul li img {
  width: 16px;
}

.item > div > span > li a > div ul li.heart {
  background-position: center left;
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  background-size: 16px 14px;
}
.item > div > span > li a > div ul li.heart.off {
  background-image: url("../img/sub/heart_off.png");
}
.item > div > span > li a > div ul li.heart.on {
  background-image: url("../img/sub/heart_on.png");
}
.item > div > span > li a > div ul li.star {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.item > div > span > li a > div ul li.star.off {
  background-image: url("../img/sub/star_off.png");
}
.item > div > span > li a > div ul li.star.on {
  background-image: url("../img/sub/star_on.png");
}
.item > div > span > li a > div ul li.dot {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url("../img/sub/dotdotdot.png");
  position: relative;
}
.item > div > span > li a .choose {
  position: absolute;
  top: -190px;
  right: 0px;
  width: 150px;
  display: block;
  z-index: 2;
}
.item > div > span > li a .choose.choose2 {
  top: 217px;
  right: 10px;
  width: 166px;
}

.item > div > span > li a .choose.on {
  display: block;
}
.item > div > span > li a .choose ul {
  border-radius: 10px;
}
.item > div > span > li a .choose ul li {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  height: 32px;
  padding: 7px 0 0 18px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
}
.item > div > span > li a .choose ul li:hover {
  background-color: #fff;
  color: #000;
}
.item > div > span > li a .choose ul li p {
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}
.item > div > span > li a .choose ul li:first-child {
  border-radius: 10px 10px 0 0;
}
.item > div > span > li a .choose ul li:last-child {
  border-bottom: 0px;
  border-radius: 0 0 10px 10px;
}
.item > div > span > li a .top.choose {
  top: 40px;
}

.item > div > span > li a > div div {
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item > div > span > li a > div span {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item > div > span > li a > div span.nft {
  font-size: 14px;
  color: #e5e5e5;
  width: 100%;
  white-space: nowrap;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-weight: 400;
}
.item > div > span > li a > div ol {
  overflow: hidden;
}
.item > div > span > li a > div ol li {
  float: left;
  width: 50%;
  height: 22px;
  line-height: 22px;
  color: #fff;
}
.item > div > span > li a > div ol li:first-child {
  font-size: 14px;
  opacity: 0.6;
}
.item > div > span > li a > div ol li:last-child {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}
.item > div > span > li a > div p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  height: 64px;
  line-height: 64px;
}

.move_item .tem {
  padding: 0 33px;
}
.move_item .move_li > li a > div {
  padding: 20px;
  box-sizing: border-box;
}
.move_item .move_li > li a {
  height: 453px;
}
.move_item .move_li > li a > div span {
  padding: 17px 0 5px;
  box-sizing: border-box;
}
.move_item .move_li > li {
  margin-bottom: 20px;
}

/* 아이템 목록 (메인, 상세) */
.item.buy > div > span > li a {
  height: 436px;
}
.item.buy > div > span > li a > div {
  height: 213px;
}
.item.buy > div > span > li a > div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 12px;
}

.item.buy > div > span > li a > div ul li {
  padding: 0 0 0 30px;
}

.item.buy > div > span > li a > div div {
  margin: 0 0 4px;
}
.item.buy > div > span > li a > div span {
  margin: 0 0 9px;
}

/* 아이템 목록 (메인) */
.item.summary > div > span > li a {
  height: 400px;
}
.item.summary > div > span > li a > div {
  height: 130px;
  padding: 14px 16px 16px;
}
.item.summary > div > span > li a > div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;
}
.item.summary > div > span > li a > div ul li {
  padding: 0 0 0 30px;
}
.item.summary > div > span > li a > div div {
  margin: 0 0 3px;
}
.item.summary > div > span > li a > div span {
  margin: 0 0 9px;
}
.item.summary2 > li a > div span {
  padding: 0px;
}

/* 아이템 목록 (리스트) */
.item.list > li a {
  height: 453px;
}
.item.list > li a > div {
  height: 172px;
}
.item.list > li a > div ul {
  margin: 0 0 17px;
}
.item.list > li a > div div {
  margin: 0 0 3px;
}
.item.list > li a > div span {
  margin: 0 0 10px;
}

@media screen and (max-width: 1440px) {
  .item.item4 > div > span {
    min-width: 31.33%;
    width: 31.33%;
    padding: 0 1% 20px;
  }
  .item.item5 > div > span {
    min-width: 23%;
    width: 23%;
    padding: 0 1% 20px;
  }

  /* 아이템 목록 (메인) */
  .item.summary > div > span > li a {
    height: 520px;
  }
  .item.summary > div > span > li a > div {
    height: 130px;
  }
}

@media screen and (max-width: 1280px) {
  .item.item5 > div > span {
    min-width: 31.33%;
    width: 31.33%;
  }

  /* 아이템 목록 (메인) */
  .item.summary > div > span > li a {
    height: 510px;
  }
  .item.summary > div > span > li a > div {
    height: 130px;
  }
}

@media screen and (max-width: 1024px) {
  .item.item4 > div > span {
    min-width: 48%;
    width: 48%;
  }
  .item.item5 > div > span {
    min-width: 48%;
    width: 48%;
  }

  /* 아이템 목록 (메인) */
  .item.summary > div > span > li a {
    height: 490px;
  }
  .item.summary > div > span > li a > div {
    height: 169px;
  }
}

@media screen and (max-width: 768px) {
  /* 아이템 목록 (메인) */
  .item.summary > div > span > li a {
    height: 470px;
  }
  .item.summary > div > span > li a > div {
    height: 167px;
  }
}

@media screen and (max-width: 640px) {
  .item.item4 > div > span {
    min-width: 98%;
    width: 98%;
  }
  .item.item5 > div > span {
    min-width: 98%;
    width: 98%;
  }

  /* 아이템 목록 (메인) */
  .item.summary > div > span > li a {
    height: 453px;
  }
  .item.summary > div > span > li a > div {
    height: 166px;
  }
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
